<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- ==================== PARAMETERS ==================== -->
  <arg name="output" default="screen"/>

  <!-- Namespace -->
  <arg name="ns" default="nimbus"/>

  <!-- Map configuration -->
  <!-- <arg name="config_path" default="$(find-pkg-share air_router)/maps/sim_map_config.yaml"/> -->

  <!-- Use sim -->
  <!-- <arg name="sim" default="True"/> -->

  <!-- Navigator parameters -->
  <arg name="acceptance_radius" default="2.0"/>

  <!-- Nimbus Starter parameters -->
  <arg name="expected_subscribers" default="2"/>
  <arg name="start_delay" default="5.0"/>

  <!-- ==================== LAUNCH NODES ================== -->

  <node pkg="nimbus" exec="pilot" name="pilot" namespace="$(var ns)" output="$(var output)"/>

  <node pkg="nimbus" exec="navigator" name="navigator" namespace="$(var ns)" output="$(var output)">
    <param name="acceptance_radius" value="$(var acceptance_radius)" />
  </node>

  <node pkg="nimbus" exec="planner" name="planner" namespace="$(var ns)" output="$(var output)"/>

  <node pkg="nimbus" exec="nimbus_starter.py" name="nimbus_starter" namespace="$(var ns)" output="$(var output)">
    <param name="expected_subscribers" value="$(var expected_subscribers)" />
    <param name="start_delay" value="$(var start_delay)" />
  </node>

</launch>
